<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyToNode">
                    <match url="(.*)" />
                    <conditions>
                        <add input="dtcshop.vn:80" pattern=".*" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:4000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <!-- Enable WebSocket support -->
        <webSocket enabled="true" />
        <!-- Add CORS headers -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
